#logo {
	background: url("../img/logo.png") center no-repeat;
	background-size: cover;
	width: 100px;
	height: 40px;
	font-size: 0;
	position: absolute;
	top: 8px;
	left: 20px;
	z-index: 1031;
}

p {
	color: #ffff00;
	font-size: 22px;
}

h2,
h3 {
	color: #ffff00;
	margin-bottom: 30px;
}

#info {
	margin-top: 50px;
	margin-bottom: 100px;
}

#infoevento img {
	color: #ffff00;
	width: 45px;
}

iframe {
	height: 500px;
	margin-bottom: 100px;
	border: 0;
}

.container-fluid,
.container {
	margin-bottom: 100px;
}

label {
	color: #ffff00;
}

footer {
	background: #000012;
}

footer ul li a:nth-child(1) {
	background: url('../img/icons8-facebook-old-48.png') center no-repeat;
	background-size: cover;
}

footer ul li a:nth-child(2) {
	background: url('../img/icons8-facebook-old-48.png');
}

footer ul li a:nth-child(3) {
	background: url('../img/icons8-facebook-old-48.png');
}
@media screen and (max-width: 480px) {
	h2,
	h3 {
		font-size: 18px;
	}
	p {
		font-size: 12px;
	}
	#infoevento img {
		width: 20px;
		height: 20px;
	}

	.mb-5 {
		margin-bottom: 2px !important;
	}
	li {
		font-size: 16px;
	}
	iframe {
		margin-bottom: 15px;
		height: 250px;
	}

	#acividades ul {
		padding-inline-start: 0;
	}

	#actividades li p {
		border-bottom: 1px solid #ffff00;
	}

	#infoevento li p {
		margin-left: 10px !important;
	}

	.pl-5 {
		padding-left:0 !important; 
	}

	#actividades .row:nth-child(2) {
		flex-direction: column-reverse;
	}

	footer ul li a:nth-child(1) {
		background: url('../img/icons8-facebook-old-48.png') center no-repeat;
		background-size: cover;
		width: 100px;
		height: 40px;
		font-size: 0;
	}
	footer ul li a:nth-child(2) {
		background: url('../img/icons8-facebook-old-48.png') center no-repeat;
		background-size: cover;
	}
	footer ul li a:nth-child(3) {
		background: url('../img/icons8-facebook-old-48.png') center no-repeat;
		background-size: cover;
	}

	footer .container{
		margin-bottom: 0;
	}
}
