#logo {
	background: url("../img/logo.png") center no-repeat;
	background-size: cover;
	width: 100px;
	height: 40px;
	font-size: 0;
	position: absolute;
	top: 8px;
	left: 20px;
	z-index: 1031;
}

p {
	color: #ffff00;
	font-size: 20px;
}

h2 {
	color: #ffff00;
	margin-bottom: 30px;
}

#info {
	margin-top: 50px;
}
